<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>
    <div id="page" class="container">
      <div id="header">
	      
        {% include menu.html %}
	      
      </div><!--header-->
      <div id="main">
        <div id="welcome">
          <div class="title">
	    <div id="logo" style="float:right;">
	      <img src={{ site.picture }} alt="" />
	    </div><!--logo-->
	    <h2>{{ site.title }}</h2>
	    <span class="byline">{{ site.description }}</span>
	  </div><!--title-->
	  <div class="description">
		  
	    {{ content }}
		  
	  </div>
        </div> <!--welcome-->
	
        <!--{% include news.html %}-->
			
        {% include footer.html %}
      
      </div> <!--main-->
    </div> <!--page-->
  </body>
</html>
